<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>自主學習10</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <script src="https://unpkg.com/vue@next"></script>
  <style>
    div {
      font-size: 15px;
      color: chocolate;
      margin: 5px;
    }
      h2 {
          color: darkcyan;
      }
      p {
          color: darkkhaki;
      }

    img {
      width: 70%;
    }

    label {
      margin-right: 0.5rem;
    }
  </style>
</head>

<body>

  <div id="app">
      <h2>現在幾歲?</h2>
      <input type="radio" id="18以下" value="18以下" v-model="ages">
      <label for="18以下">18以下</label>
      <input type="radio" id="18~25" value="18~25" v-model="ages">
      <label for="18~25">18~25</label>
      <input type="radio" id="25~35" value="25~35" v-model="ages">
      <label for="25~35">25~35</label>
      <input type="radio" id="35~45" value="35~45" v-model="ages">
      <label for="35~45">35~45</label>
      <input type="radio" id="45~55" value="45~55" v-model="ages">
      <label for="45~55">45~55</label>
      <input type="radio" id="55~65" value="55~65" v-model="ages">
      <label for="55~65">55~65</label>
      <input type="radio" id="65以上" value="65以上" v-model="ages">
      <label for="65以上">65以上</label>
      <br>
      <p>{{ ages }}</p>
    </div>
    
  <script>
    const vm = Vue.createApp({
      data() {
        return {
            ages:""
        }
      }
    });
      

   
    vm.mount('#app');
      
  </script>
</body>
</html>