<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
		<title>自主學習08</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<style>
        p {
            color:darkseagreen;
        }
        div {
            font-size: 30px;
            color: cadetblue;
        }
    </style>
</head>
	<body>
        <div id="app">
            <p>匯率換算</p>
            <p>日幣=0.25台幣</p>
            <p>美元=28台幣</p>
            <p>英鎊=38.55台幣</p>
            <div>台幣<input type="text" v-model='twd'></div>
            <div>日幣<input type="text" v-model='jpy'></div>
            <div>美元<input type="text" v-model='usd'></div>
            <div>英鎊<input type="text" v-model='gbp'></div>
        </div>
        
        
		
        <script>
        const vm= Vue.createApp({
            data() {
                return {
                   twd:0.25,
                }
            },
        computed:{
            jpy:{
                get(){
                    return Number.parseFloat(Number(this.twd)/0.25).toFixed(3);
                },
                set(val){
                    this.twd = Number.parseFloat(Number(val)*0.25).toFixed(3);
                }
            },
            usd:{
            get(){
                return Number.parseFloat(Number(this.twd)*28).toFixed(3)
        },
            set(val){
            this.twd = Number.parseFloat(Number(val)/28).toFixed(3)
        }
        },
            gbp:{
                get(){
                    return Number.parseFloat(Number(this.twd)*38.55).toFixed(3)
                },
                set(val){
                    this.twd = Number.parseFloat(Number(val)/38.55).toFixed(3)
                }
            }
            
        },
        }).mount('#app');
        
       
        </script>
        
        
        
        
		
	</body>
</html>