<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
		<title>自主學習08</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<style>
        p {
            color:darkseagreen;
        }
        div {
            font-size: 30px;
            color: cadetblue;
        }
    </style>
</head>
	<body>
        <div id="app01">
            <p>匯率換算</p>
            <p>日幣=0.25台幣</p>
            <div>台幣<input type="text" v-model="twd"></div>
            <div>日幣<input type="text" v-model="jpy"></div>
        </div>
        
         <script src="https://unpkg.com/vue@next"></script>
        
		
        <script>
        const vm01 = Vue.createApp({
            data() {
                return {
                   twd:0.25
                }
            },
        computed:{
            jpy:{
                get(){
                    return Number.parseFloat(Number(this.twd)/0.25).toFixed(3);
                },
                set(val){
                    this.twd = Number.parseFloat(Number(val)*0.25).toFixed(3);
                }
            }
        }
        }).mount('#app01');
        
       
        </script>
        
        <div id="app02">
            <p>美元=28台幣</p>
            <div>台幣<input type="text" v-model="twd"></div>
            <div>美元<input type="text" v-model="usd"></div>
         </div>
        <script>
             const vm02 = Vue.createApp({
            data() {
                return {
                   twd:28
                }
            },
         computed:{
            usd:{
            get(){
            return Number.parseFloat(Number(this.twd)/28).toFixed(3);
        }
            set(val){
            this.twd = Number.parseFloat(Number(val)*28).toFixed(3);
        }
        }
            
        }).mount('#app02');
        </script>
        
        
		
	</body>
</html>