<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
		<title>名言篩選器</title>
    
  <script src="https://unpkg.com/vue@next"></script>

</head>
<body>
<div id="app">
    <div>台幣：<input type="text" id="twd" v-model="twd"></div>

<select v-model="selected" >
    <option disabled value="">請選擇</option>
    <option value="usd">美元 USD</option>
    <option value="gbp">英鎊 GBP</option>
    <option value="jpy">日圓 JPY</option>
</select>

<input type="button" id="Conversion" value="轉換" v-on:click="con()"><br>
<label id="res" >{{res}}</label>
</div>

<script>
const vm = Vue.createApp({
     data(){
         return {
         twd:0.25,
         res:'',
         selected:'',
         option: [
            'usd','gbp','jpy'
        ]
     };
     },
     computed:{
          con: function(){
          if(this.selected =='usd'){
                this.res = "美金：" + Math.floor(this.twd / 33.76)
                }
              else if(this.selected =='jpy'){
                  this.res = "日圓：" + Math.floor(this.twd / 0.2743) 
               }
         else if(this.selected =='gbp'){
                this.res = "英鎊：" + Math.floor(this.twd / 39.76)
               }
          },
     },
}).mount('#app');

</script>
</body>
</html>