<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>自主學習10</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <script src="https://unpkg.com/vue@next"></script>
  <style>
    div {
      font-size: 15px;
      color: chocolate;
      margin: 5px;
    }
      h2 {
          color: burlywood;
      }
      p {
          color: darkkhaki;
      }

    img {
      width: 70%;
    }

    label {
      margin-right: 0.5rem;
    }
  </style>
</head>

<body>

  <div id="app">
    <h2>{{ message }}</h2>
      <p>前情提要:</p>
      <p >※都是以大杯微糖(3分)微冰來比較</p>
      <p>※喜歡程度最高5分</p>
      <p>※只是以比較喜歡的飲料來做比較，分數低的不代表不好喝!!!</p>

    <form style="margin: 1rem 0">
        <label>
        <input type="checkbox" value="店名" v-model="checkName" >店名
      </label>
        <label>
        <input type="checkbox" value="飲料名稱" v-model="checkName" >飲料名稱
      </label>
      <label>
        <input type="checkbox" value="評價" v-model="checkName" >我的評價
      </label>
      <label>
        <input type="checkbox" value="甜度" v-model="checkName" >甜度
      </label>
      <label>
        <input type="checkbox" value="喜歡程度" v-model="checkName" >喜歡程度
      </label>
    </form>

    <h2>想知道:{{ checkName.join(',') }}</h2>

    <table border="1" width="70%" cellspacing="0" cellpadding="0">
      <tr>
        <th>店家</th>
        <th v-for="m in drinks">
          <div><img v-bind:src="m.cover" alt=""></div>
        </th>
      </tr>
        <tr v-show="checkName.includes('店名')">
        <th>店名</th>
        <td v-for="m in drinks">
          <div>{{ m.name01 }}</div>
        </td>
      </tr>
        <tr v-show="checkName.includes('飲料名稱')">
        <th>飲料名稱</th>
        <td v-for="m in drinks">
          <div>{{ m.name02 }}</div>
        </td>
      </tr>
      <tr v-show="checkName.includes('評價')">
        <th>評價</th>
        <td v-for="m in drinks">
          <div>{{ m.taste }}</div>
        </td>
      </tr>
      <tr v-show="checkName.includes('甜度')">
        <th>甜度</th>
        <td v-for="m in drinks">
          <div>{{ m.sweetness }}</div>
        </td>
      </tr>
      <tr v-show="checkName.includes('喜歡程度')">
        <th>喜歡程度</th>
        <td v-for="m in drinks">
          <div>{{ m.like }}</div>
        </td>
      </tr>
    </table>
      <p>圖片僅供參考</p>
  </div>

  <script>
    const vm = Vue.createApp({
      data() {
        return {
          drinks: [
            {
              cover: "images/01.JPG",
              name01:"清心福全",
              name02:"珍珠鮮奶茶",
              taste: "喝完不會像他牌奶茶一樣有一層膜的感覺，是我唯一會喝鮮奶茶的店",
              sweetness: "2",
              like: "4.8",
            },
            {
              cover: "images/04.png",
              name01:"龜記",
              name02:"翡翠鮮乳+珍珠",
              taste: "清爽順口，不知道還有甚麼可以評價的，反正就是很好喝",
              sweetness: "2",
              like: "5",
            },
            {
              cover: "images/05.png",
              name01:"50嵐",
              name02:"綠茶拿鐵+波霸",
              taste: "比較清淡，奶香跟茶香我覺得是這5個裡面最淡的",
              sweetness: "3.2",
              like: "2.5",
            },
            {
              cover: "images/03.JPG",
              name01:"迷客夏",
              name02:"茉香綠茶拿鐵+珍珠",
              taste: "奶香比較重的",
              sweetness: "3",
              like: "4.5",
            },
            {
              cover: "images/02.png",
              name01:"李記紅茶冰",
              name02:"玉露鮮奶茶+QQ",
              taste: "跟50嵐的口感差不多，但是這家的珍珠比較好吃，比較Q",
              sweetness: "2.5",
              like: "3.8",
            },
          ],
          message: "我喜歡的飲料大PK!",
          checkName: [],
        };
      },
    });
      

   
    vm.mount('#app');
      
  </script>
</body>
</html>